#cards {

    height: 500px;
    width: 500px;
}

#imgcards {

    height: 390px;
    width: 450px;
}

h1 {

    font-size: 3.5rem;
    text-align: left;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif ;
}